/* Hub-Seite Styling */

.gh-hub-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 0;
}

.gh-hub-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 0 20px;
}

.gh-hub-header.no-image .gh-hub-header-content {
  flex: 1 1 100%;
  max-width: 100%;
}

.gh-hub-header-content {
  flex: 1;
  min-width: 0;
  padding-top: 20px;
}

.gh-hub-logo {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
  display: block;
}

.gh-hub-title {
  font-size: 4.2rem !important;
  font-weight: 700;
  margin-bottom: 1rem;
}

.gh-hub-description {
  margin-bottom: 2rem;
  max-width: unset !important;
}

.gh-hub-header-image {
  flex: 1;
  min-width: 0;
}

.gh-hub-header-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 120px;
  object-fit: cover;
}

.gh-hub-latest-posts{
  margin-bottom: 120px;
}

.gh-hub-latest-posts.outer{
  padding: 0 !important;
}

html.dark-mode .gh-hub-section-title {
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .gh-hub-section-title {
    color: #fff;
  }
}

/* Responsive Anpassungen */
@media (max-width: 1024px) {
  .gh-hub-header {
      flex-direction: column-reverse;
      padding: 40px 0;
      gap: 30px;
  }
  
  .gh-hub-header-content,
  .gh-hub-header-image {
      width: 100%;
  }
  
  .gh-hub-logo {
      margin-left: auto;
      margin-right: auto;
  }
  
  .gh-hub-title {
      font-size: 2.8rem;
      text-align: center;
  }
  
  .gh-hub-description {
      font-size: 1.6rem;
      text-align: center;
  }
  
  .gh-hub-header-image img {
      max-height: 300px;
      object-position: center;
  }
}

@media (max-width: 640px) {
  .gh-hub-header {
      padding: 30px 0;
      gap: 20px;
  }

  .gh-hub-header-content {
    text-align: center;  
  }
  
  .gh-hub-title {
      font-size: 3.4rem;
  }
  
  .gh-hub-description {
      font-size: 1.4rem;
  }
  
  .gh-hub-header-image img {
      max-height: 200px;
  }
}